.pokedex{
    min-height: 100vh;
    background-image: url(https://i.imgur.com/4mtQj2P.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.pokedex > h1{
    text-align: center;
    padding: 1rem 0 .5rem 0;
    margin: 0;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    color: white;
}
.main{
    display: grid;
    grid-template-columns: 1fr;
}
.cont-b{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 2rem;
}
.cont-b > button{
    margin: 0 1rem;
    border: none;
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
}
@media (min-width: 750px){
    .main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1000px){
    .main{
        grid-template-columns: repeat(3, 1fr);
    }
}
.container-search{
    display: flex;
    flex-direction: column;
}
.container-search > h2{
    margin: 0;
    padding: 1rem;
    text-align: center;
}